{% extends 'first_app/base.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/success.css' %}">

<div class="jumbotron">

    <h1>Welcome to the Details of the Schools in Anakapalli</h1><p></p>
    <p>Schools are organized spaces purposed for teaching and learning. The classrooms, where teachers teach and students learn, are of central importance. Classrooms may be specialized for certain subjects, such as laboratory classrooms for science education and workshops for industrial arts education</p>


    <h1>Succesfully Loged In !</h1>

    <h2>Please click continue to see the List of Schools!</h2><p></p>
    <form action="{% url 'basic_app:list' %}" method="get">
        <input type="submit" value="Continue" class="btn btn-primary" >
    </form>

    <form action="{% url 'basic_app:user_logout' %}" method="get">
        <input id="logout" type="submit" value="LogOut" class="btn btn-danger" >
    </form>

</div>

{% endblock %}